<div id="confirmation-container" class="text-center">

  <div class="first-info">

  <h1>Thank you!</h1>
  <h2>You successfully sent a booking request to:<br>
  	<% psychic = Psychic.find(@booking.psychic_id) %>
  	<%= User.find(psychic.user_id).name %>
  	(specialty: <%= psychic.specialty %>)
   </h2>
   <%= image_tag 'sparkles.png' %>
  </div>
   <div class="infos-list">
    <ul>
      <li>Start date: <%= @booking.start_date %></li>
      <li>End date: <%= @booking.end_date %></li>
      <li>Accessories: none</li>
      <li>Total price: <%= @booking.total_price %>€</li>
      <li>Status: <%= @booking.status%></li>
    </ul>
   </div>

  <p>Your booking is now pending. <%= User.find(psychic.user_id).name%> must confirm it before any payment.</p>
</div>
