<div class="psychic-container">
  <div class="card-product">
    <% if @psychic.photo.attached? %>
        <%= cl_image_tag @psychic.photo.key, width: 300, height: 200, crop: :fit %>
        <% else %>
        <img src='https://vanbytheriver.files.wordpress.com/2015/06/psychic.jpg'/>
    <% end %>
    <div class="card-product-infos">
      <div class="d-flex flex-row">
        <h2><%= User.find(@psychic.user_id).name %></h2>
        <%= link_to 'go back to psychics', psychics_path, class: "btn btn-flexbox-upper-right", id: "grey-btn"%>
      </div>
        <p>specialzed in: </p> <span class="specialty"><%= @psychic.specialty %><i class="fas fa-hand-sparkles"></i></span>
        <p><i class="fas fa-map-marker-alt"></i> <%= @psychic.localisation %></p>
        <p><strong>€<%= @psychic.hour_rate %></strong>/hour</p>
        <% if @psychic.accessories != [] %>
          <p><strong><%= User.find(@psychic.user_id).name %>'s accessories:</strong></p>
            <% @psychic.accessories.each do |accessory| %>
              <p><%= accessory.name %>: <%= accessory.price %>€</p>
            <% end %>
        <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div id="booking-form">
      <% if current_user != nil %>
        <% if current_user.id != @psychic.user_id %>
         <h2>Book <%= User.find(@psychic.user_id).name%> now:</h2>
            <%= simple_form_for([@psychic, @booking]) do |f| %>
              <%= f.input :start_date, as: :string, type: :text %>
              <%= f.input :end_date, as: :string, type: :text%>
              <%= f.input :nb_accessories, as: :integer, input_html: {value: 0 }%>
              <%= f.input :total_price, as: :integer, input_html: {value: 135 }%>
              <%= f.submit "Book", class: "btn btn-flat" %>
            <% end %>
        <%else%>
            <button type="button" class="btn btn-flat btn-card-show-psychic" data-toggle="modal" data-target="#edit">
            Edit
            </button>
            <button type="button" class="btn btn-flat btn-card-show-psychic" data-toggle="modal" data-target="#addAccessory">
            Add accessories to your profile
            </button>
            <%= link_to "Delete",
            psychic_path(@psychic),
              method: :delete,
              class: "btn btn-flat btn-card-show-psychic"%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
  <div class="modal fade" id="addAccessory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add an accessory</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <%= simple_form_for [@psychic, @accessory] do |f| %>
              <%= f.input :name, as: :string, label: false, placeholder: 'What is your accessory'%>
              <%= f.input :price, as: :numeric, label: false, placeholder: 'Price'%>
              <%= f.submit class: "btn btn-sm btn-outline-primary rounded-pill"%>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
          <%= simple_form_for(@psychic) do |f| %>
            <%= f.input :specialty, as: :string, label: false, type: :text, placeholder: 'Precise your specialty' %>
            <%= f.input :hour_rate, as: :numeric, label: false, placeholder: 'Enter your price per hour'%>
            <%= f.input :localisation, as: :string, label: false, placeholder: 'Precise your city' %>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Create your psychic profile!", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
