<div class="psychic-container">
  <div class="card-product">
    <% if @psychic.photo.attached? %>
        <%= cl_image_tag @psychic.photo.key, crop: :fill %>
        <% else %>
        <img src='https://vanbytheriver.files.wordpress.com/2015/06/psychic.jpg'/>
    <% end %>
    <div class="card-product-infos">
      <h2><%= User.find(@psychic.user_id).name %></h2>
      <p>specialzed in: </p> <span class="specialty"><%= @psychic.specialty %><i class="fas fa-hand-sparkles"></i></span>
      <p><i class="fas fa-map-marker-alt"></i> <%= @psychic.localisation %></p>
      <p><strong>€<%= @psychic.hour_rate %></strong>/hour</p>
    </div>
    <%= link_to 'go back to psychics', psychics_path, class: "btn btn-flexbox-upper-right", id: "grey-btn"%>
  </div>
    <% if current_user != nil %>
      <% if @psychic.user_id === current_user.id  %>
        <%= link_to "Edit", edit_psychic_path(@psychic), class: "btn btn-flat btn-card-show-psychic" %>
        <div class= "btn btn-flat btn-card-show-psychic",>
        <%= link_to "Delete",
                  psychic_path(@psychic),
                  method: :delete %>
       <% end %>
      <% end %>

<div class="d-flex justify-content-center">

<div id="booking-form">
  <h2>Book <%= User.find(@psychic.user_id).name%> now:</h2>
       <%= simple_form_for([@psychic, @booking]) do |f| %>
          <%= f.input :start_date, as: :string, type: :text %>
          <%= f.input :end_date, as: :string, type: :text%>
          <%= f.input :nb_accessories, as: :integer, input_html: {value: 0 }%>
          <%= f.input :total_price, as: :integer, input_html: {value: 135 }%>
    <table class="table">
        <tr>
          <td>€<%= @psychic.hour_rate %> x <span id="hours">/</span> hours</td>
          <td class="text-right">€<span id="price"></span></td>
        </tr>
    </table>
           <%= f.submit "Book", class: "btn btn-flat" %>
        <% end %>
  </div>
</div>

</div>
<!-- "btn btn-flat btn-flexbox-upper-right" %>
 -->
<!-- il faut linker à la bonne route et donc faire la view de booking -->

<!-- des urls de fortune teller: -->
<!-- https://images.unsplash.com/photo-1592215955539-f020e64a7125?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80  -->
<!-- https://images.unsplash.com/photo-1582744709859-2d89c6920cfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
https://images.unsplash.com/photo-1512358958014-b651a7ee1773?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
https://images.unsplash.com/photo-1509457116354-df6d9c7c072d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80
https://images.unsplash.com/photo-1505358131519-deb04e8e7ae3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80
 -->
