<!-- Card of the page : information about psychic -->

<div class="psychic-container">
  <div class="card-product">
    <% if @psychic.photo.attached? %>
        <%= cl_image_tag @psychic.photo.key, width: 400, height: 300, crop: :pad %>
        <% else %>
        <img src='https://vanbytheriver.files.wordpress.com/2015/06/psychic.jpg'/>
    <% end %>
    <div class="card-product-infos">
      <div class="d-flex flex-row">
        <h2><%= User.find(@psychic.user_id).name %></h2>
        <%= link_to 'go back to psychics', psychics_path, class: "btn btn-flexbox-upper-right", id: "grey-btn"%>
      </div>
        <p>specialzed in: </p> <span class="specialty"><%= @psychic.specialty %><i class="fas fa-hand-sparkles"></i></span>
        <p><i class="fas fa-map-marker-alt"></i> <%= @psychic.localisation %></p>
        <p><strong>€<%= @psychic.hour_rate %></strong>/hour</p>
        <% if @psychic.accessories != [] %>
          <p><strong><%= User.find(@psychic.user_id).name %>'s accessories:</strong></p>
            <% @psychic.accessories.each do |accessory| %>
              <li><%= accessory.name %></li>
            <% end %>
        <% end %>
    </div>
  </div>

<!-- User action --> 

  <div class="d-flex justify-content-center">
    <div id="booking-form">
      <% if current_user != nil %>
        <% if current_user.id != @psychic.user_id %>
         <h2>Book <%= User.find(@psychic.user_id).name%> now:</h2>
            <%= simple_form_for([@psychic, @booking]) do |f| %>
              <%= f.input :start_date, as: :string, label: false, type: :text,  placeholder: 'From' %>
              <%= f.input :end_date, as: :string, label: false, type: :text,   placeholder: 'To'%> 
              <%= f.input :total_price, as: :hidden  %>
              <%= f.input :nb_accessories, as: :hidden %>
              <% if @psychic.accessories != [] %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#accessoryBooking">Add accessories</button>
              <%end%>
              <br>
              <br>
              <div>
                <td><span id="price_per_hour"><%= @psychic.hour_rate %></span>€ x <span id="hours">0</span> hours:</td>
                <td><span id="price">0</span>€</td>
              </div>
              <div class=accessory-display>
                <td>10€ x <span class="number_accessory">0</span><span class="accessory"> accessory:</span></td>
                <td><span class="price_accessory">0</span>€</td>
              </div> 
              <br>
              <h3>Total Price: <span id="total-price">0</span>€</h3>       
              <div>
              <br>
              <%= f.submit "Book", class: "btn btn-flat" %>
              </div>
            <% end %>
            </div>
      <%else%>
            <button type="button" class="btn btn-flat btn-card-show-psychic" data-toggle="modal" data-target="#edit">
            Edit
            </button>
            <button type="button" class="btn btn-flat btn-card-show-psychic" data-toggle="modal" data-target="#addAccessory">
            Add accessories to your profile
            </button>
            <%= link_to "Delete",
            psychic_path(@psychic),
              method: :delete,
              class: "btn btn-flat btn-card-show-psychic"%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>

<!-- MODALS for user action -->


<!-- ADD ACCESSORY - BOOKING -->

<div class="modal fade" id="accessoryBooking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add accessories to your booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
              <p> Fixed price per accessory : 10 € </p>
              <div class = "check">
                <% @psychic.accessories.each do |accessory| %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" remote = "true">
                    <label class="form-check-label" for="defaultCheck1">
                      <%= accessory.name %>
                    </label> 
                  </div> 
              <%end%>
              <br>
              </div> 
              <div id=accessory-display>
                <td>10€ x <span class="number_accessory">0</span><span class="accessory"> accessory:</span></td>
                <td><span class="price_accessory">0</span>€</td>
              </div>          
              <br>
              <button type="submit" id="add-accessory" data-dismiss="modal" class="btn btn-sm btn-outline-primary rounded-pill">Add</button>
        </div>
      </div>
    </div>
  </div>

<!-- ADD ACCESSORY - PSYCHIC -->

  <div class="modal fade" id="addAccessory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add an accessory</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
              <%= simple_form_for [@psychic, @accessory] do |f| %>
                <%= f.input :name, collection: Accessory::ACCESS , label:false, prompt: "Select your specialty"%>
                <p> Each accessory has fixed price : 10 € </p>
                <%= f.input :price, as: :hidden, input_html: { value: 10 } %>
                <%= f.submit "Edit", class: "btn btn-sm btn-outline-primary rounded-pill" %>
              <%end%>
        </div>
      </div>
    </div>
  </div>

<!-- EDIT PSYCHIC PROFIL -->

  <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
          <%= simple_form_for(@psychic) do |f| %>
            <%= f.input :specialty, as: :string, label: false, type: :text, placeholder: 'Precise your specialty' %>
            <%= f.input :hour_rate, as: :numeric, label: false, placeholder: 'Enter your price per hour'%>
            <%= f.input :localisation, as: :string, label: false, placeholder: 'Precise your city' %>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Edit", class: "btn btn-sm btn-outline-primary rounded-pill" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


